<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cursoandroid.cursoandroid.tenda_virtual">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Intents.EditarDatos"></activity>
        <activity android:name=".Intents.AdminVerPedidosRexeitados" />
        <activity android:name=".Intents.AdminVerPedidosAceptados" />
        <activity android:name=".Intents.AdminVerPedidosEnTramite" />
        <activity android:name=".Intents.Rexistrarse" />
        <activity android:name=".Intents.FinalizarPedido" />
        <activity android:name=".Intents.ZonaAdministrador" />
        <activity android:name=".Intents.VerComprasRealizadas" />
        <activity android:name=".Intents.VerPedidosEnTramite" />
        <activity android:name=".Intents.FacerPedido" />
        <activity android:name=".Intents.ZonaClientes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>